<TMPL_INCLUDE NAME="header.tmpl">

<section>
<div class="row-fluid">
  <div class="col-md-8 col-md-offset-1">
    <h2><TMPL_VAR name="category"></h2>

     <ul class="cat-list">
<TMPL_LOOP NAME="ports">
	<li><a href="<TMPL_VAR NAME="browse_root">/<TMPL_VAR NAME="port">"><TMPL_VAR NAME="port"></a></li>
</TMPL_LOOP>
     </ul>
  </div>
</div>
</section>
