/Distfiles
/Packages
/INDEX-[0-9]*
Makefile.local
/*/*/work
/*/*/work-*
Tools/magus/bless/magus-bless
Tools/magus/bless/index.db.bz2
Tools/magus/distcheck/distcheck
*~
*.rej
*.orig
*.sw[p-z]
README.html
*.idea
gen-plist
gen-plist.stage
gen-plist.stage.filtered
gen-plist.tmp
security/vuxml/vuln.xml.tidy
.claude/settings.local.json
