</div>

<footer>
    <div class="col-md-12">
      <p>
	&copy; 2008-2020 Lucas Holt<br>
	&copy; 2008 Chris Reinhardt
	<br><b><a href="http://www.midnightbsd.org/">MidnightBSD</a></b></p>
  </div>
</footer>

          <!-- START GOOGLE -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-560995-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-560995-2');
</script>
                <!-- END GOOGLE -->
</body>
</html>
