<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title><TMPL_VAR NAME="title"></title>
    <script src="/magus/elements/magus.js" type="text/javascript"></script>    
    <link rel="stylesheet" href="/magus/elements/magus.css" media="screen" />
</head>
<body><div id="tophead">

<h1><a href="/magus/">MidnightBSD Magus</a></h1>

<form id="topsearch" action="<TMPL_VAR NAME=root>/search" method="get">
<input type="text" name="q" value="<TMPL_VAR NAME=query>">
<input type="submit" value="Search">
</form>

</div>
<!-- header: end -->


<div id="content">

