<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><TMPL_VAR NAME="title"></title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/magus/elements/magus.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/magus/elements/magus.css" media="screen">
</head>

<body>

<header>
<div id="tophead" class="row-fluid">

<div class="span3">
<h1>MidnightBSD Magus</h1>
</div>

<div class="span4 offset2">
<form class="form-search" id="topsearch" action="<TMPL_VAR NAME=root>/search" method="get">
    <fieldset>
        <input class="input-medium search-query" placeholder="Search" type="text" name="q" value="<TMPL_VAR NAME=query>">
        <input class="btn" type="submit" value="Search">
    </fieldst>
</form>
</div>
</div>

<div class="row-fluid">
<div class="navbar">
  <div class="navbar-inner">
  <a class="brand" href="/magus/">Magus</a>
  <ul class="nav">
    <li><a href="/magus/">Home</a></li>
    <li><a href="/magus/runs/">Run List</a></li>
  </ul>
  </div>
</div>
</div>
</div>
</header>

<div class="content">

