<TMPL_INCLUDE NAME="header.tmpl">

<h1><a href="/magus/">Magus</a> :: <TMPL_VAR name="TITLE"></h1>

<p><TMPL_VAR NAME="count"> ports:</p>

<TMPL_INCLUDE NAME="result-list.tmpl">
<TMPL_INCLUDE NAME="footer.tmpl">
