<TMPL_INCLUDE NAME="header.tmpl">

<h2><TMPL_VAR name="port"></h2>

<div class="right">
<a href="http://cvsweb.midnightbsd.org/mports/<TMPL_VAR NAME=port>">CVSWeb</a>

<h3>Depends On</h3>

<TMPL_IF NAME="depends">
<ul class="depends">
    <TMPL_LOOP NAME="depends">
	<li><a href="<TMPL_VAR NAME=port_root>/<TMPL_VAR NAME=id>"><TMPL_VAR NAME="port"></a></li>
    </TMPL_LOOP>
</ul>
<TMPL_ELSE>
<i>Nothing</i>
</TMPL_IF>	

<h3>Depend Of</h3>

<TMPL_IF NAME="depends_of">
<ul class="depends">
    <TMPL_LOOP NAME="depends_of">
	<li><a href="<TMPL_VAR NAME=port_root>/<TMPL_VAR NAME=id>"><TMPL_VAR NAME="port"></a></li>
    </TMPL_LOOP>
</ul>
<TMPL_ELSE>
<i>Nothing</i>
</TMPL_IF>	

</div>

<div class="left">
<p><TMPL_VAR NAME="desc"></p>
<p>Website: <a target="_blank" href="<TMPL_VAR NAME="www">"><TMPL_VAR NAME="www"></a></p>
<hr />
<table class="port-results">
<tr>
	<th>Version</th>
	<th>Run</th>
	<th>OSVersion</th>
	<th>Arch</th>
	<th>Status</th>
	<th></th>
</tr>
<tr class="<TMPL_VAR NAME=status>">
	<td><TMPL_VAR NAME="version"></td>
	<td><a href="<TMPL_VAR NAME="run_root">/<TMPL_VAR NAME="run">"><TMPL_VAR NAME="run"></a></td>
	<td><TMPL_VAR NAME="osversion"></td>
	<td><TMPL_VAR NAME="arch"></td>
	<td><TMPL_VAR NAME="status"></td>
	<td>
	  <TMPL_IF NAME="can_reset">
	    (<a onclick="return confirm_reset()" href="/magus/auth/reset_port.cgi?id=<TMPL_VAR NAME=id>">Reset Port</a>)
	  </TMPL_IF>
	</td> 
</tr>
</table>


<TMPL_IF name="events">
<h3>Events</h3>
<table class="event-list">
<tr>
	<th>Machine</th>
	<th>Type</th>
	<th>Time</th>
	<th>Message</th>
</tr>

<TMPL_LOOP name="events">
<tr class="<TMPL_VAR NAME=type><TMPL_UNLESS NAME=__odd__> even</TMPL_UNLESS>">
	<td><a href="<TMPL_VAR NAME="machine_root">/<TMPL_VAR NAME="machine_id">"><TMPL_VAR NAME="machine"></a></td>
	<td><TMPL_VAR NAME="type"></td> 
	<td style="white-space: nowrap; font-size: smaller"><TMPL_VAR NAME="time"></td>
	<td><TMPL_VAR NAME="msg"></td>
</tr>
</TMPL_LOOP>
</table>
</TMPL_IF>

<TMPL_IF NAME="log">
<h3>Log</h3>
<pre class="log"><TMPL_VAR NAME="log"></pre>
</TMPL_IF>


</div>

<TMPL_INCLUDE NAME="footer.tmpl">
