<TMPL_INCLUDE NAME="header.tmpl">

<h2><TMPL_VAR name="port"></h2>

<div class="right">
<a href="http://cvsweb.midnightbsd.org/mports/<TMPL_VAR NAME=port>">CVSWeb</a>

<h3>Depends On</h3>

<TMPL_IF NAME="depends">
<ul class="depends">
    <TMPL_LOOP NAME="depends">
	<li><a href="<TMPL_VAR NAME=port_root>/<TMPL_VAR NAME=port>"><TMPL_VAR NAME="port"></a></li>
    </TMPL_LOOP>
</ul>
<TMPL_ELSE>
<i>Nothing</i>
</TMPL_IF>	

<h3>Depend Of</h3>

<TMPL_IF NAME="depends_of">
<ul class="depends">
    <TMPL_LOOP NAME="depends_of">
	<li><a href="<TMPL_VAR NAME=port_root>/<TMPL_VAR NAME=port>"><TMPL_VAR NAME="port"></a></li>
    </TMPL_LOOP>
</ul>
<TMPL_ELSE>
<i>Nothing</i>
</TMPL_IF>	

</div>

<div class="left">
<p><TMPL_VAR NAME="desc"></p>

<TMPL_IF name="results">

<table class="port-results">
<tr>
	<th>Version</th>
	<th>Machine</th>
	<th>Arch</th>
	<th>Summary</th>
	<th></th>
</tr>
<TMPL_LOOP name="results">
<tr class="<TMPL_VAR NAME=summary><TMPL_UNLESS NAME=__odd__> even</TMPL_UNLESS>">
	<td><TMPL_VAR NAME="version"></td>
	<td><TMPL_VAR NAME="machine"></td>
	<td><TMPL_VAR NAME="arch"></td>
	<td><TMPL_VAR NAME="summary"></td>
	<td>
	    <TMPL_IF NAME="has_details">
		(<a href="#" id="result_<TMPL_VAR NAME=id>_link" onclick="return details_link(<TMPL_VAR NAME=id>);">Show Details</a>)
	    </TMPL_IF>
	</td> 
</tr>
<tr class="details<TMPL_UNLESS NAME=__odd__> even</TMPL_UNLESS>" id="result_<TMPL_VAR NAME=id>_row">
	<td colspan="5" id="result_<TMPL_VAR NAME=id>_details"></td>
</tr>
</TMPL_LOOP>
</table>
<TMPL_ELSE>
<p><TMPL_VAR name=port> has not been tested.</p>
</TMPL_IF>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
