<TMPL_INCLUDE NAME="header.tmpl">

<div class="row-fluid">
  <div class="col-md-offset-1 col-md-6">
  <section>
    <h2><TMPL_VAR name="port"></h2>
    <p class="lead"><TMPL_VAR NAME="desc"></p>

    <table class="table port-results">
    <thead>
    <tr>
        <th>Flavor</th>
        <th>Version</th>
        <th>Run</th>
        <th>OSVersion</th>
        <th>Arch</th>
        <th>License</th>
        <th>Restricted</th>
        <th>Status</th>
        <th></th>
    </tr>
    </thead>

    <tr class="<TMPL_VAR NAME=status>">
        <td><TMPL_VAR NAME="flavor"></td>
        <td><TMPL_VAR NAME="version"></td>
        <td><a href="<TMPL_VAR NAME="run_root">/<TMPL_VAR NAME="run">"><TMPL_VAR NAME="run"></a></td>
        <td><TMPL_VAR NAME="osversion"></td>
        <td><TMPL_VAR NAME="arch"></td>
        <td><TMPL_IF NAME="license"><TMPL_VAR NAME="license"><TMPL_ELSE><em>No License</em></TMPL_IF></td>
        <td><TMPL_VAR NAME="restricted"></td>
        <td><TMPL_VAR NAME="status"></td>
        <td>
          <TMPL_IF NAME="can_reset">
            (<a onclick="return confirm_reset()" href="/magus/auth/reset_port.cgi?id=<TMPL_VAR NAME=id>">Reset Port</a>)
          </TMPL_IF>
        </td>
    </tr>
    </table>
  </section>

<section>
<TMPL_IF name="events">
<h3>Events</h3>
<table class="table table-striped event-list">
<thead>
<tr>
        <th>Machine</th>
        <th>Type</th>
        <th>Time</th>
        <th>Message</th>
</tr>
</thead>

<tbody>
<TMPL_LOOP name="events">
<tr class="<TMPL_IF NAME=fail>error</TMPL_IF> <TMPL_IF NAME=pass>success</TMPL_IF> <TMPL_IF NAME=warn>warning</TMPL_IF> <TMPL_VAR NAME=type>">
        <td><a href="<TMPL_VAR NAME="machine_root">/<TMPL_VAR NAME="machine_id">"><TMPL_VAR NAME="machine"></a></td>
        <td><TMPL_VAR NAME="type"></td>
        <td style="white-space: nowrap; font-size: smaller"><TMPL_VAR NAME="time"></td>
        <td><TMPL_VAR NAME="msg"></td>
</tr>
</TMPL_LOOP>
</tbody>
</table>
</TMPL_IF>
</section>

    <section>
      <TMPL_IF NAME="log">
      <h3>Log</h3>
      <pre class="log"><TMPL_VAR NAME="log"></pre>
      </TMPL_IF>
    </section>
</div>


<section>
<div class="col-md-3 col-md-offset-1">
<h3>Links</h3>
<ul class="depends">
<li><a href="http://svnweb.midnightbsd.org/mports/trunk/<TMPL_VAR NAME=port>/" target="_blank">ViewVC (legacy)</a></li>
<li><a href="https://github.com/midnightbsd/mports/tree/<TMPL_VAR NAME=port>/" target="_blank">GitHub</a></li>
<TMPL_IF NAME="www">
<li><a title="<TMPL_VAR NAME="www">" href="<TMPL_VAR NAME="www">" target="_blank">Homepage</a></li>
<TMPL_ELSE>
<li>Website: <em>None</em></li>
</TMPL_IF>
<li><a href="<TMPL_VAR NAME="browse_root">/<TMPL_VAR NAME="port">">All <TMPL_VAR NAME="port"> results</a></li>
</ul>

<h3>Depends On</h3>

<TMPL_IF NAME="depends">
<ul class="depends">
    <TMPL_LOOP NAME="depends">
	<li><a class="<TMPL_VAR NAME="status">" href="<TMPL_VAR NAME=port_root>/<TMPL_VAR NAME=id>"><TMPL_VAR NAME="port"></a> (<TMPL_VAR NAME="type">)</li>
    </TMPL_LOOP>
</ul>
<TMPL_ELSE>
<i>Nothing</i>
</TMPL_IF>	

<h3>Depend Of</h3>

<TMPL_IF NAME="depends_of">
<ul class="depends">
    <TMPL_LOOP NAME="depends_of">
	<li><a class="<TMPL_VAR NAME="status">" href="<TMPL_VAR NAME=port_root>/<TMPL_VAR NAME=id>"><TMPL_VAR NAME="port"></a></li>
    </TMPL_LOOP>
</ul>
<TMPL_ELSE>
<i>Nothing</i>
</TMPL_IF>	

<h3>Categories</h3>

<ul class="depends">
    <TMPL_LOOP NAME="cats">
	<li><a href="<TMPL_VAR NAME=browse_root>/<TMPL_VAR NAME=category>"><TMPL_VAR NAME="category"></a></li>
    </TMPL_LOOP>
</ul>

</div>
</section>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
