<TMPL_INCLUDE NAME="header.tmpl">

<section>
  <div class="row-fluid">
     <div class="col-md-10 col-md-offset-1">
       <h2>Run List</h2>

       <table class="table table-striped table-bordered run-summary">
<thead>
<tr>
	<th>ID</th>
	<th>OSVersion</th>
	<th>Arch</th>
	<th>Status</th>
	<th>Created</th>
	<th>Blessed</th>
</tr>
</thead>

<TMPL_LOOP NAME="runs">
<tr>
	<td><a href="/magus/runs/<TMPL_VAR NAME="id">"><TMPL_VAR NAME="id"></a></td>
	<td><TMPL_VAR NAME="osversion"></td>
	<td><TMPL_VAR NAME="arch"></td>
	<td><TMPL_VAR NAME="status"></td>
	<td><TMPL_VAR NAME="created"></td>
	<td><TMPL_VAR NAME="blessed"></td>
</tr>
</TMPL_LOOP>
</table>
    </div>
  </div>
</section>

<TMPL_INCLUDE NAME="footer.tmpl">
