<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title><TMPL_VAR NAME="title"></title>
    
    <link rel="stylesheet" href="/magus/elements/magus.css" media="screen" />
</head>
<body>

<!-- header: begin -->
<div id="tophead">

<h1>Magus</h1>

<h2>Stats</h2>
<table class="stats">
<tr>
        <td>Tested</td>
	<td><TMPL_VAR NAME="ports_tested"></td>
        <td>Untested</td>
	<td><TMPL_VAR NAME="ports_untested"></td>
<TMPL_LOOP NAME="stats">
        <td class="<TMPL_VAR name=summary>"><TMPL_VAR NAME="summary"></td>
        <td><a href="<TMPL_VAR NAME=list_root>/<TMPL_VAR NAME=summary>"><TMPL_VAR NAME=count></td>
</TMPL_LOOP>
</tr>
</table>

</div>
<!-- header: end -->

