<TMPL_INCLUDE NAME="header.tmpl">

<h1>Summary</h1>

<div class="right">
<TMPL_IF NAME="locks">
<h3>Currently Building</h3>
<table class="locks">
<thead>
<tr>
	<th>Port</th>
	<th>Machine</th>
	<th>Arch</th>
</tr>
</thead>

<tbody>
<TMPL_LOOP NAME="locks">
<tr <TMPL_UNLESS name="__odd__">class="even"</TMPL_UNLESS>>
	<td><a href="<TMPL_VAR name=port_root>/<TMPL_VAR NAME=port>"><TMPL_VAR NAME="port"></a></td>
	<td><TMPL_VAR name="machine"></td>
	<td><TMPL_VAR name="arch"></td>
</tr>
</TMPL_LOOP>
</tbody>
</table>
</TMPL_IF>

</div>



<h3>Latest Results</h3>
<table class="result-list">
	<thead>
	<tr>
		<th>Port</th>
		<th>Version</th>
		<th>Summary</th>
		<th>Machine</th>
		<th>Arch</th>
	</tr>
	</thead>
	<tbody>
	<TMPL_LOOP NAME=results>
	<tr class="<TMPL_VAR NAME=summary><TMPL_UNLESS NAME="__odd__"> even</TMPL_UNLESS>">
		<td><a href="<TMPL_VAR name=port_root>/<TMPL_VAR NAME=port>"><TMPL_VAR NAME="port"></a></td>
		<td><TMPL_VAR NAME=version></td>
		<td><TMPL_VAR NAME=summary></td>
		<td><TMPL_VAR NAME=machine></td>
		<td><TMPL_VAR NAME=arch></td>
	</tr>
	</TMPL_LOOP>
	</tbody>
</table>

<TMPL_INCLUDE NAME="footer.tmpl">
