body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	background: white;
	color: black;
}

h1 {
	font-size: 1.7em;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: navy;
}

h2 {
	font-size: 1.5em;
}

table {
	border: solid 1px #555;
	border-spacing: 0px;
}

table td {
	border: solid 1px #eee;
	padding: 4px 10px;
}

table th {
	border-bottom: solid 1px #888;
}

*.fail {
	color: #C0000B;
}

*.warn {
	color: orange;
}

*.internal {
	color: blue;
}

*.pass {
	color: green;
}

*.skip {
	color: #666;
}

.stats {
	font-size: .8em;
}

.locks {
	font-size: .8em;
}

div.right {
	float: right;
/*	position: relative; */
	bottom: 60px;
	right: 20px
}

ul.depends li {
	list-style: none;
}

ul.depends {
	padding: 0px;
}	
