body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: white;
	color: black;
	margin: 0;
	padding: 0;
}

#content {
	margin: 12px;
}

h1 {
	font-size: 1.7em;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	color: yellow;
}

h2 {
	font-size: 1.5em;
}

table {
	border: solid 1px #555;
	border-spacing: 0px;
}

table td {
	border: solid 1px #eee;
	padding: 4px 10px;
}

table tr {
	background: transparent;
}

table tr:hover {
	background: silver;
}

table th {
	border-bottom: solid 1px #888;
}

*.fail {
	color: #C0000B;
}

*.warn {
	color: orange;
}

*.internal {
	color: blue;
}

*.pass {
	color: green;
}

*.skip {
	color: #666;
}

.stats {
	font-size: .8em;
}

.locks {
	font-size: .8em;
}

div.right {
	float: right;
/*	position: relative; */
	bottom: 60px;
	right: 20px
}

ul.depends li {
	list-style: none;
}

ul.depends {
	padding: 0px;
}

#tophead {
	background: #405491;
	color: white;
	width: 100%;
	margin: 0;
	padding: 0;
}	

#tophead h1 {
	color: white;
}

ul.stats {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.stats li {
	display: inline;
	padding-right: 12px;
}

ul.stats a.pass {
	color: #91E588;
}

ul.stats a.fail {
	color: #F27D86;
}

ul.stats a.skip {
	color: #bbb;
}