[Desktop Entry]
Name=mport Package Manager
Comment=MidnightBSD Package Manager
Exec=mport-manager
Icon=icon
Terminal=false
Type=Application
StartupNotify=true
Categories=System;Utility
