<TMPL_INCLUDE NAME="header.tmpl">

    <div class="full">
         <h2><TMPL_VAR name="TITLE"></h2>

          <p><TMPL_VAR NAME="count"> ports:</p>

<TMPL_INCLUDE NAME="port-list.tmpl">
    </div>

<TMPL_INCLUDE NAME="footer.tmpl">
