</div>

<footer>
    <div class="col-md-12">
      <p>
	&copy; 2008-2019 Lucas Holt<br>
	&copy; 2008 Chris Reinhardt
	<br><b><a href="http://www.midnightbsd.org/">MidnightBSD</a></b></p>
  </div>
</footer>

          <!-- START GOOGLE -->
                <script type="text/javascript">
                var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
                </script>
                <script type="text/javascript">
                try {
                var pageTracker = _gat._getTracker("UA-560995-2");
                pageTracker._trackPageview();
                } catch(err) {}
                </script>
                <!-- END GOOGLE -->
</body>
</html>
