
<section>
<table class="table table-striped event-list">
  <thead>
  <tr>
	<th>Port</th>
	<th>Run</th>
        <th>Type</th>
        <th>Time</th>
        <th>Message</th>
  </tr>
  </thead>

  <tbody>
<TMPL_LOOP name="events">
  <tr class="<TMPL_VAR NAME=type>">
	<td><a href="<TMPL_VAR NAME="port_root">/<TMPL_VAR NAME="port_id">"><TMPL_VAR NAME="port"></a></td>
	<td><a href="<TMPL_VAR NAME="run_root">/<TMPL_VAR NAME="run">"><TMPL_VAR NAME="run"></a></td>
        <td><TMPL_VAR NAME="type"></td>
        <td style="white-space: nowrap; font-size: smaller"><TMPL_VAR NAME="time"></td>
        <td><TMPL_VAR NAME="msg"></td>
  </tr>
</TMPL_LOOP>
  </tbody>
</table>
</section>
