<table class="table table-striped result-list">
    <thead>
	<tr>
		<th>Port</th>
		<th>Version</th>
		<th>Status</th>
		<th>Run</th>
		<th>OSVersion</th>
		<th>Arch</th>
		<th></th>
	</tr>
    </thead>

    <tbody>
	<TMPL_LOOP NAME=results>
	<tr class="<TMPL_VAR NAME=summary>">
		<td><a href="<TMPL_VAR name=port_root>/<TMPL_VAR NAME=id>"><TMPL_VAR NAME="port"></a></td>
		<td><TMPL_VAR NAME=version></td>
		<td><TMPL_VAR NAME=summary></td>
		<td><a href="<TMPL_VAR NAME="run_root">/<TMPL_VAR NAME="run">"><TMPL_VAR NAME=run></a></td>
		<td><TMPL_VAR NAME=osversion></td>
		<td><TMPL_VAR NAME=arch></td>
		<td>
	            (<a href="<TMPL_VAR NAME="port_root">/<TMPL_VAR NAME="id">">Show Details</a>) 		  
		   <TMPL_IF NAME="can_reset">
		    &middot;
	            (<a onclick="return confirm_reset()" href="/magus/auth/reset_port.cgi?id=<TMPL_VAR NAME=id>">Reset Port</a>)
		  </TMPL_IF>
        	</td>
        </tr>
        <tr class="details" id="result_<TMPL_VAR NAME=id>_row">
        	<td colspan="6" id="result_<TMPL_VAR NAME=id>_details"></td>
        </tr>
                
	</TMPL_LOOP>
    </tbody>
</table>

