<TMPL_INCLUDE NAME="header.tmpl">

<section>
<div class="row-fluid">
  <h1>Error</h1>

  <div class="alert alert-error">
	<p><TMPL_VAR NAME="error"></p>
  </div>
</div>
</section>

<TMPL_INCLUDE NAME="footer.tmpl">
