<TMPL_INCLUDE NAME="header.tmpl">

<script type="text/javascript">
	window.onload = function () {
		if (location.hash.length > 0) {
			var status = location.hash.substr(1, location.hash.length);
			showPorts(<TMPL_VAR NAME="id">, status);
		}
	};
</script>

<section>
  <div class="row-fluid">
     <div class="col-md-10 col-md-offset-1">
       <h2>Run <TMPL_VAR name="id"></h2>
	<p>View <a href="/magus/blockers/<TMPL_VAR name="id">">Top Blockers</a></p>

       <table class="table table-striped table-bordered run-summary">
<thead>
<tr>
	<th>ID</th>
	<th>OSVersion</th>
	<th>Arch</th>
	<th>Status</th>
	<th>Created</th>
	<th></th>
</tr>
</thead>

<tr>
	<td><TMPL_VAR NAME="id"></td>
	<td><TMPL_VAR NAME="osversion"></td>
	<td><TMPL_VAR NAME="arch"></td>
	<td><a href="#" class="edit"><TMPL_VAR NAME="status"></a></td>
	<td><TMPL_VAR NAME="created"></td>
	<td>
	    <ul class="stats">
	      <TMPL_LOOP NAME="status_stats">
		<li>
		    <a class="<TMPL_VAR NAME="status">" href="#<TMPL_VAR NAME="status">" onclick="showPorts(<TMPL_VAR NAME="id">, '<TMPL_VAR NAME="status">');">	
			<TMPL_VAR NAME="status"></a>:
		    <TMPL_VAR NAME="count">
		</li>
              </TMPL_LOOP>
	    </ul>
	</td>
</tr>
<tr>
	<td colspan="6" id="ports-display" style="display: none"> </td>
</tr>
</table>
    </div>
  </div>
</section>

<TMPL_INCLUDE NAME="footer.tmpl">
